@{
    ViewData["Title"] = "Home Page";
}

<main id="index">
    <h1>Destinos Incríveis, você encontra aqui!</h1> 
    <img src="~/img/Banner.jpg" alt="Banner" href="http://localhost:5000/Home/PacotesTuristicos" width="700px">
</main>

